<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.yeomans.echelon">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <service
      android:name=".services.EchelonFirebaseMessagingService"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <service
      android:name=".services.EchelonFirebaseInstanceIdService"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
      </intent-filter>
    </service>
    <service
      android:name=".services.PlayerService"
      android:enabled="true"></service>

    <activity
      android:name=".ui.activities.MainActivity"
      android:label="@string/app_name"
      android:windowSoftInputMode="adjustPan|adjustResize"></activity>
    <activity
      android:name=".ui.activities.WelcomeActivity"
      android:label="@string/app_name"
      android:windowSoftInputMode="adjustPan|adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        <action android:name="android.intent.action.PLAY" />
      </intent-filter>
      <intent-filter android:label="@string/app_name">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URIs that begin with "https://echelonapp.io/g” -->
        <data
          android:host="echelonapp.io"
          android:pathPrefix="/g"
          android:scheme="https" />
        <!-- note that the leading "/" is required for pathPrefix-->
        <!-- Accepts URIs that begin with "echelonapp://g” -->
        <data
          android:host="g"
          android:scheme="echelonapp" />

      </intent-filter>
    </activity>
    <activity
      android:name="com.spotify.sdk.android.authentication.LoginActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

  </application>

</manifest>
